nav{
  color:rgb(225, 255, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ms-auto{
  color: rgb(255, 123, 0);
}
.logo{
  height:40px;
}
.home{
  height:20px;
}
.project{
  height:20px;
}
.assignments{
  height:20px;
}
.help{
  height:20px;
}
.pms{
  height:40px;
}
.copyright{
  background-color: black;
  color:aliceblue;
  padding: 20px;
} 
 .pms-f{
  height:40px;
 }
 .location{
  height:20px;
 }
 .facebook{
  height:40px;
 }
 .instagram{
  height:40px;
 }
 .reddit{
  height:40px;
 }
 .whatsapp{
  height:40px;
 }
 .phone{
  height:40px;
 }